
.App-header {

    position: fixed; /* or position: sticky; */
    top: 0;
    width: 100%;
    background-color: red;
    padding: 20px;
    color: white;
    z-index: 1000; 
  
}

.App-hero {
  margin-top: 80px;
  width: 50%;

}


.App-link {
  color: #61dafb;
}

/* Additional styles for your app components can go below this point */

/* Example styles for a component */
.example-component {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 10px;
}
